/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-01-30, 22:57:45
    Author     : Maciej
*/

body {
    padding-top: 50px;
}

.lonely {
    margin-top: 60px;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("/Greenfield/faces/javax.faces.resource/fonts/glyphicons-halflings-regular.eot");
    src: url("/Greenfield/faces/javax.faces.resource/fonts/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'),
        url("/Greenfield/faces/javax.faces.resource/fonts/glyphicons-halflings-regular.woff") format('woff'),
        url("/Greenfield/faces/javax.faces.resource/fonts/glyphicons-halflings-regular.ttf") format('truetype'),
        url("/Greenfield/faces/javax.faces.resource/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format('svg');
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="login"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
